API_ID=21969293 # get this value from my.telegram.org
API_HASH=5eb63f869fc717ebf4ba0310d00899aa # get this value from my.telegram.org
BOT_TOKEN=6688182492:AAH0eDQVwsElWd8ecBatGuphS5KHBIhaIts # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://sirvan3169:sirvan3169@cluster0.ps3nro5.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001821230344 # get this value from in your log group 
MUSIC_BOT_NAME=ForzaMusicBot # your music bot name 
SUDO_USERS=5933807411
OWNER_ID=5933807411
STRING_SESSION=AgACISLVRDFrHeGr_d5m8IOW7n5pzkB8mE9pDCY9RwQ2wkemG2HdrnK5Fpy3ygODP0CdHF1CaDt72S8cy8LNyzzI52h3R3j--uKNEh_1tBQI_MiMNF5VEvZJG6T9FLh5IpTq82I0Mc36ii9Vvkfguc3VQ09bVZ_P4vWAqtJ8_uRXfIhSnL-bo9fM7PGB-zY6oQheUhtrn5-vikxxoRmgf6LBUBOsO3BPUuZS57zl5SfVUvs8h8YmUwcpYrnS_jIP-S6m05waIeMHNG00Z8HKG3LtE5NQId70Rr2wF8us34TagPJb17M9Ym7h2tk5FywEQjra7HXHMhd63dALPdUbrZRWAAAAAYAk7xoA
