API_ID=2219492
API_HASH=e2714facad4b32d083303781af4d5029
BOT_TOKEN=6144535438:AAHcHPWzoPzhvfaiFcVdZ6Kcm8_v2FMXkpU
LOG_GROUP_ID=-1001907105547
MONGO_DB_URI=mongodb+srv://tansel266:tansel1430@cluster0.nbhxbsl.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=TrendyolMusic_bot
OWNER_ID=5933807411
STRING_SESSION=AgAQQPDScwqcrUtS9nNWZ1H-Fnbo3SUnmnCSSPoM886_zxa6rUGKJ7LvPqGkycVU2j0sd-LmsSfhWeg58GUkgBmcjml4eAhTYgtUsSRtgI1nse_rugkvICsMznVPEjYBjUiQOjT6h8Gf7GJy6lLlg4GmQnbNvko1w5K2fG96uktqx1MUVqYtSKs5KkHS3232L9Msx40l3o4KnCHzpC_j0iirRZzLJtKVNLc3W1TSrHzgAGwgWkNCG2yw16t5mwA8aZmLSuXrgjS_HTc7nzKMFr_lUjdvWoYVjiEe_2cJKy8nXWAvQZs4_bwL5kTeR_m70CIT9FY4TJVChyYbbdSmzQ9xAAAAAWl2BycA
